html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #121212; /* Very Dark Grey */
  color: #f0f0f0; /* Light Grey text */
  font-family: 'Overpass', Arial, sans-serif; /* Body font */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


