html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #121212; /* Very Dark Grey */
  color: #f0f0f0; /* Light Grey text */
  font-family: 'Overpass', Arial, sans-serif; /* Body font */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --scrollbar-width: 8px;
  --scrollbar-track-color: #2d3a6b; /* Slate Blue */
  --scrollbar-thumb-color: #1b1f3b; /* Dark Blue */
  --scrollbar-thumb-hover-color: #3c91e6; /* Vivid Blue */
}

/* Apply custom scrollbar styles globally but only for larger screens */
@media (min-width: 1024px) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  }

  *::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  *::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
    border: 2px solid var(--scrollbar-track-color);
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
  }
}
